<main class="py-5">
    <section id="listado" class="mb-5">
         <div class="container">
            <h2 class="mb-4">Product List</h2>   
            <!-- <form > -->
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Categoty</th>
                        <th scope="col">Product</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of productList; index as i;">
                        <th scope="row">{{ categoryList[i].description  }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td><input id="{{ product.productId }}" type="checkbox"><label for="{{ product.productId }}">Add</label> </td>
                    </tr>                  
                    </tbody>
                </table>
            <!-- </form> -->
         </div>
    </section>
</main> 